<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Kx6_mDTPmPIP7G3Ae-MAhqPvzSaO7a8Nrg&usqp=CAU" alt="" height="100px">
    <h1 class="display-5 fw-bold">Login Auth0</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Esta es una aplicacion para realizar la Authenticacion usando Auth0</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
      </div>
    </div>
  </div>